<mat-toolbar>
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button mat-fab class="col" (click) = "newEvent()" matTooltip="Crear un nuevo Paso">
      <mat-icon>add</mat-icon>
    </button>
    <mat-icon matBadge="15" matBadgeColor="warn" class="example-icon">notification_important</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>calendar_today</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="number">
      <mat-icon>calendar_today</mat-icon>
    </ng-template>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(enero, anio)">ENERO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes; index as i">{{i+1}}- {{cita.title}}</mat-list-item>
    </mat-list> 
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(febrero, anio)">FEBRERO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>  
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(marzo, anio)">MARZO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(abril, anio)">ABRIL</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>   
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(mayo, anio)">MAYO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(junio, anio)">JUNIO</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(julio, anio)">JULIO</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(agosto, anio)">AGOSTO</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(septiembre, anio)">SEPTIEMBRE</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>      
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(octubre, anio)">OCTUBRE</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(noviembre, anio)">NOVIEMBRE</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(diciembre, anio)">DICIEMBRE</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
</mat-vertical-stepper>