mat-expansion-panel-header{
  text-align: center;
  align-content: center;
  align-items: center;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: transparent;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.edit{
  color: #35478C;
}

.view{
  color: #427F00;
}

