<mat-toolbar>
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" (click) = "newEvent()" matTooltip="Crear un nueva Cita" style="color: #029ACF;">add_circle</mat-icon>
    <mat-icon matBadge="15" matBadgeColor="warn" class="example-icon">notification_important</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>calendar_today</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="number">
      <mat-icon>calendar_today</mat-icon>
    </ng-template>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(enero, anio)">ENERO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes; index as i">
        {{i+1}}- {{cita.title}}
        <span class="example-spacer"></span>
        {{cita.start}}
        <button mat-raised-button (click)="openDialog(content)" (click)="getCitaDetalle(cita.id)">Ver Detalles</button>
      </mat-list-item>
    </mat-list> 
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(febrero, anio)">FEBRERO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>  
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(marzo, anio)">MARZO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(abril, anio)">ABRIL</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>   
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(mayo, anio)">MAYO</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(junio, anio)">JUNIO</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(julio, anio)">JULIO</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(agosto, anio)">AGOSTO</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><button mat-button (click) = "getCitasMes(septiembre, anio)">SEPTIEMBRE</button></ng-template>
    <mat-list>
      <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
    </mat-list>      
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(octubre, anio)">OCTUBRE</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(noviembre, anio)">NOVIEMBRE</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel><button mat-button (click) = "getCitasMes(diciembre, anio)">DICIEMBRE</button></ng-template>
      <mat-list>
        <mat-list-item *ngFor="let cita of citasMes">{{cita.title}}</mat-list-item>
      </mat-list>
  </mat-step>
  <!--Ventana emergente-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Detalle del Evento</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h2>{{detalle.evento}}</h2>
        <p>Descripcion: {{detalle.descripcion}}</p>
        <p>Fecha de inicio: {{detalle.fechaHorainicio}}</p>   
        <p>Fecha de inicio: {{detalle.fechaHorafin}}</p>  
    </div>    
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Regresar</button>
    </div>
  </ng-template>
</mat-vertical-stepper>
