<div class="jumbotron collapsed hidden-xs" style="text-align:center" *ngIf="isLoggedOut$ | async">
  <div class="row">
    <div>
      <img style="display: block;" src="/assets/logo.png">
    </div>
    <span class="example-spacer"></span>
    <div class="center">
      <h1><strong>ESCUELA DE POSGRADOS</strong></h1>
      <h2><strong>FACULTAD DE CIENCIAS Y HUMANIDADES</strong></h2>
      <h2><strong>UNIVERSIDAD DE EL SALVADOR</strong></h2>
    </div>
    <span class="example-spacer"></span>
    <div>
        <img style="display: block;" src="/assets/logoUES.png">
    </div>
  </div>
</div>


