<div class="container row col-md-6 mx-auto mt-5 mb-5 card" style="padding: 2rem, 2rem, 2rem;">
	<h1 class="text-center"><strong>INGRESAR NOTICIA</strong></h1>
	<form (ngSubmit) = "processForm()">
	  	<div class="form-group">
	    	<label for="encabezado">Encabezado:</label>
	    	<input class="form-control" id="encabezado" aria-describedby="emailHelp" placeholder="Ingresar rol" type="text">
	  	</div>
	  	<div class="form-group">
	    	<label for="cuerpo">Contenido:</label>
	    	<input class="form-control" id="cuerpo" aria-describedby="emailHelp" placeholder="Ingresar rol" type="text">
	  	</div>
	  	<input type="submit" value="GUARDAR" class="btn btn-info btn-lg btn-block">
	</form>
</div>
