<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
    <!--  <label><h2><strong>DATOS SOBRE PAGOS REALIZADOS</strong></h2></label>	-->
      <label><h2><strong>MANTENIMIENTO DE ARANCELES Y CUOTAS</strong></h2></label>	
    <br><br>
    <div>
      <mat-toolbar style="background-color: transparent;">
        <mat-toolbar-row>
          <span class="example-spacer"></span>
          <mat-chip-list>
          <mat-chip routerLink="/arancel">Crear nuevo arancel</mat-chip>
          <mat-chip (click)= "openDialogCuota(contentCuota)">Generar cuotas</mat-chip>
        </mat-chip-list>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="example-header">
        <div class="left">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
          </mat-form-field>
        </div>
      </div>
      <br><br>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <!-- Nombre Column -->
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
            <mat-cell *matCellDef="let aranceles">  {{ aranceles.codigo }} </mat-cell> 
          </ng-container>
          <!-- Number Column -->
          <ng-container matColumnDef="Nombre del arrancel">
            <mat-header-cell *matHeaderCellDef mat-sort-header style=" text-align: center;"> Nombre del arancel o cuota </mat-header-cell>
            <mat-cell *matCellDef="let aranceles"  style=" text-align: center;"> {{ aranceles.nombre }}</mat-cell> 
          </ng-container>
         <!-- Apellidos Column -->
          <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
            <mat-cell *matCellDef="let aranceles">{{ aranceles.monto }}</mat-cell>  
          </ng-container>
          <!-- Apellidos Column -->
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header  style=" text-align: center; align-content: center;"> Descripcion</mat-header-cell>
            <mat-cell *matCellDef="let aranceles"  style=" text-align: center; align-content: center;">{{ aranceles.descripcion}}  </mat-cell> 
          </ng-container>
          <ng-container matColumnDef="Estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let aranceles"> 
              <p *ngIf= "aranceles.estado; else inactivo"> Activo </p> 
              <ng-template #inactivo>
                 <p>Inactivo</p>	
              </ng-template></mat-cell> 
          </ng-container>
         <!-- Apellidos Column 
         <ng-container matColumnDef="Programa al que pertenece">
            <mat-header-cell *matHeaderCellDef mat-sort-header  style=" text-align: center; align-content: center;"> Programa al que pertenece</mat-header-cell>
            <mat-cell *matCellDef="let aranceles"  style=" text-align: center; align-content: center;">{{ aranceles.programa}}  </mat-cell> 
          </ng-container>-->
          <ng-container matColumnDef="opcion" style="text-align: center;">
              <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
              <mat-cell *matCellDef="let aranceles">
                <button mat-icon-button (click)="onDelete(aranceles.id)" matTooltip="Eliminar">
                  <i class="delete fa fa-trash-o fa-lg" style="cursor: pointer;"></i>
                </button>
              <button mat-icon-button (click)= "openDialog(content, aranceles.id)" matTooltip="Ver Detalles">
                  <i class="view fa fa-eye fa-lg example-icon"></i>			        </button>
              </mat-cell>
            </ng-container>
           <!-- Apellidos Column -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let aranceles; columns: displayedColumns;"></mat-row>
        </mat-table>
      
      </div>
</div>

<!--Ventana emergente-->
<ng-template id="myModal" #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title"><strong>Detalle del Arancel</strong></h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
			<mat-form-field>
				<label>Codigo:</label>
				<input matInput type="text" disabled value= "{{ aranceles.codigo }}" required >
			</mat-form-field> 
			<mat-form-field>
				<label>Nombre:</label>
				<input matInput type="text" disabled value= "{{ aranceles.nombre }}" required >
      </mat-form-field>  
      <mat-form-field>
				<label>Descripcion:</label>
				<input matInput type="text" disabled value= "{{ aranceles.descripcion }}" required >
      </mat-form-field> 
      <mat-form-field>
				<label>Monto:</label>
				<input matInput type="text" disabled value= "{{ aranceles.monto }}" required >
      </mat-form-field> 
      <mat-form-field>
				<label>Estado:</label>
				<input matInput type="text" disabled required > 
        <p *ngIf= " aranceles.estado; else inactivo "> Activo </p> 
        <ng-template #inactivo>
           <p>Inactivo</p>	
        </ng-template>
			</mat-form-field>   
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="c('Close click')">Regresar</button>
	</div>
  </ng-template>
  
  <!--Ventana emergente-->
<ng-template id="myModal" #contentCuota let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title"><strong>Crear cuota</strong></h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
      <form (submit)="crearCuota()" [formGroup]="register"> 
          <div class="example-container">
      <mat-form-field class="center" >
        <mat-label>Ingrese el año del cual se generaran las cuotas:</mat-label>
        <input matInput type="number" placeholder="Escriba año del que desea generar las cuotas" formControlName="anio" required>
        <mat-error *ngIf="register.get('anio').hasError('required')"> el año es <strong>requerida</strong> </mat-error>
        <mat-error *ngIf="register.get('anio').hasError('pattern')">el año debe contener <strong> 4 cifras</strong></mat-error>
      </mat-form-field> 
      <div class="button-row">
          <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="register.invalid || loading">Guardar</button>   
      </div>
          </div>
</form> 
</div> 
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="c('Close click')">Regresar</button>
	</div>
	</ng-template>