<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-md-6 mx-auto text-center">
		<div class="card" style="align-items: center;">
			<br>
			<br>
			<img src="/assets/403error.png" style="margin-left: 10px; width: 75%;">
			<h1 class="display-3" style="color: #A10000;">¡Acceso Denegado!</h1>
			<br>
			<h2>No tiene permiso para acceder a esta página.</h2>
			<div class="card-body">
				<button class="btn btn-primary btn-lg" (click)="return()">
					<i class="fa fa-home">
						IR A HOME
					</i>
				</button>
			</div>
		</div>
	</div>
</div>
