<div class="container">
	<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
		<label><h2><strong>MANTENIMIENTO DE USUARIOS</strong></h2></label>
		<nav class="navbar navbar-expand-lg navbar-light" style="text-align: end; display: block;">
			<div style="float: left;">
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Escriba el nombre de Usuario">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
			<div style="float: right;">
				<button mat-fab color="primary" (click) = "newUsuarios()">Agregar</button>
				<!--i class="fa fa-plus-circle fa-lg"></i-->
			</div>
		</nav>
		<table class="table table-hover">
			<thead>
				<tr>
				<th scope="col">Usuario</th>
				<!--th scope="col">Nombre</th>
				<th scope="col">Apellido</th-->
				<th scope="col">email</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-light" *ngFor='let user of users'>
				<td>{{user.username}}</td>
				<!--td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td-->
				<td>{{user.email}}</td>
				<!--td>
					<button>Permisos</button>
					<button (click)="updateRol(rol)">Editar</button>
					<button (click)="deleteRol(rol)">Eliminar</button>
				</td-->
				</tr>
			</tbody>
		</table> 
	</div>
</div>