<!--Alerta-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"> <strong>REPROGRAMAR EVENTO</strong></h1>
        <form [formGroup]="nuevaCita"> 
          <div class="example-container">
            <!--class="example-full-width"   (submit)="agendarCita()"  -->
              <mat-form-field>
                  <mat-label>Nombre del evento</mat-label>
                  <input matInput type="text" placeholder="ingresa la descripcion del evento" formControlName="evento">
                  <mat-error *ngIf="nuevaCita.get('evento').hasError('required')">El nombre del evento es <strong>requerido</strong></mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Descripcion</mat-label>
                  <textarea matInput type="text" placeholder="ingresa la descripcion del evento"  formControlName="descripcion" required></textarea>
                  <mat-error *ngIf="nuevaCita.get('descripcion').hasError('required')">la descripcion del evento es un campo<strong>requerido</strong></mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-select placeholder="Cita Para" formControlName="citaPara" required>
                      <mat-option *ngFor="let citaParaEntidad of usu" [value]="citaParaEntidad.id">
                          {{citaParaEntidad.nombre}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="nuevaCita.get('citaPara').hasError('required')">el usuario que tendra la cita es <strong>requerido</strong></mat-error>
               </mat-form-field>
               <mat-form-field>
                <mat-select placeholder="Cita Con" formControlName="citaCon" required>
                    <mat-option *ngFor="let citaParaEntidad of usu" [value]="citaParaEntidad.id">
                        {{citaParaEntidad.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="nuevaCita.get('citaCon').hasError('required')">el usuario con el que se tendra la cita es <strong>requerido</strong></mat-error>
             </mat-form-field>
       <!--       <mat-form-field>
               <button mat-button formControlName="diaCompleto" (click)= "soloFechaInicio()">Click me!</button>
            </mat-form-field>    -->         
             <mat-checkbox (change)= "soloFechaInicio()" formControlName="diaCompleto">Evento de un dia</mat-checkbox> 
              <mat-form-field>
                  <mat-label>Fecha de Inicio</mat-label>
                  <input matInput type="date" placeholder="Escriba la fecha de inicio del evento" formControlName="FechaInicio" required>
                <!--  <mat-error *ngIf="register.get('fech_nacimiento').hasError('required')">La fecha de nacimiento <strong>requerida</strong></mat-error> -->
              </mat-form-field>
              <br>
              <mat-label>Seleccione la hora de inicio del evento</mat-label>
               <div class="form-group">
              <ngb-timepicker formControlName="HoraInicio" [spinners]="spinners"></ngb-timepicker>
          <!--    <pre>Selected time: {{ horaInicio.value }}</pre> -->
              </div>
     <!--  [(ngModel)]="HoraInicio"      <button class="btn btn-sm btn-outline-{{seconds ? 'success' : 'danger'}}" (click)="toggleSeconds()">
                   Seconds - {{seconds ? "ON" : "OFF"}}
</button> 
<div class="form-group">
  <ngb-timepicker [formControl]="ctrl" required></ngb-timepicker>
  <div *ngIf="ctrl.valid" class="small form-text text-success">Great choice</div>
  <div class="small form-text text-danger" *ngIf="!ctrl.valid">
    <div *ngIf="ctrl.errors['required']">Select some time during lunchtime</div>
    <div *ngIf="ctrl.errors['tooLate']">Oh no, it's way too late</div>
    <div *ngIf="ctrl.errors['tooEarly']">It's a bit too early</div>
  </div>
</div>

<hr>
<pre>Selected time: {{ctrl.value | json}}</pre>
              -->
  <div *ngIf="condicion"> 
              <mat-form-field>
                  <mat-label>Fecha de Finalizacion</mat-label>
                  <input matInput type="date" placeholder="Escriba la fecha de Finalizacion del evento" formControlName="FechaFin" required>
            <!--      <mat-error *ngIf="register.get('FechaFin').hasError('required')">La fecha de Fin es <strong>requerida</strong></mat-error> -->
             </mat-form-field>
             
            <div class="form-group">
                <mat-label>Seleccione la hora de fin del evento</mat-label>
                <ngb-timepicker formControlName="HoraFin" [spinners]="spinners"></ngb-timepicker>
              </div>
</div>
    <ng-template #elseBlock>rango de fechas</ng-template>
 <!--  
date time validado
              <mat-form-field class="example-full-width">
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
   -->             

              <mat-form-field>
                  <mat-label>Lugar</mat-label>
                  <input matInput type="text" placeholder="ingrese el lugar del evento" formControlName="lugar" required>
               <!--   <mat-error *ngIf="register.get('evento').hasError('required')">El nombre del evento es <strong>requerido</strong></mat-error> -->
              </mat-form-field>
              <div class="button-row">
            <!--     <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="nuevaCita.invalid || loading">Guardar</button> --> 
               <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" (click)="agendarCita()">Guardar</button>  
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

