<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
    <label><h2><strong>CONSOLIDADO DE DATOS INSCRIPCIÓN PROVISIONAL DE MATERIAS</strong></h2></label>	
    
    <div class="example-header">
      <div class="left">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>
    </div>
  <div  class="example-container mat-elevation-z8">
       <h5>A continuación se muestran todas las inscripciones canceladas y reaperturadas:</h5>
  </div> 
   <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>
        <!-- Number Column -->
        <ng-container matColumnDef="Nombre del estudiante">
          <mat-header-cell *matHeaderCellDef mat-sort-header style=" text-align: center;"> Nombre del estudiante </mat-header-cell>
          <mat-cell *matCellDef="let ELEMENT1"  style=" text-align: center;"> {{ ELEMENT1.nombre }}</mat-cell> 
        </ng-container>
        <!-- Nombre Column -->
        <ng-container matColumnDef="carnet">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Carnet </mat-header-cell>
          <mat-cell *matCellDef="let ELEMENT1">  {{ ELEMENT1.carnet }} </mat-cell> 
        </ng-container>
        <!-- Apellidos Column -->
        <ng-container matColumnDef="Programa que estudia">
          <mat-header-cell *matHeaderCellDef mat-sort-header  style=" text-align: center; align-content: center;"> Programa que estudia </mat-header-cell>
          <mat-cell *matCellDef="let ELEMENT1"  style=" text-align: center; align-content: center;">{{ ELEMENT1.programa}}  </mat-cell> 
        </ng-container>
        <!-- Apellidos Column -->
        <ng-container matColumnDef="Materias inscritas">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Materias inscritas </mat-header-cell>
          <mat-cell *matCellDef="let ELEMENT1">{{ ELEMENT1.materias }}</mat-cell>  
        </ng-container>
        <ng-container matColumnDef="Estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let ELEMENT1">{{ ELEMENT1.estado }}</mat-cell>  
          </ng-container>
          <!-- Opciones Column -->
        <ng-container matColumnDef="acciones" style="text-align: center;">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let ELEMENT1">
            <button mat-icon-button (click)="verDetalleInscrip()" matTooltip="Ver Detalles">
                <i class="view fa fa-eye fa-lg example-icon"></i>			        </button>
            <!--(click)="open('autofocus')"             -->
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="button-row" style="padding: 2rem; text-align: center; align-content: center;" >
      <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-right: 2px; margin-right: 2px; width: 30%;" (click)="regresar()" >Regresar</button>

  </div> 
