<!--Alerta-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"> <strong>FORMULARIO DE REGISTRO</strong></h1>
        <form (submit)="registrarNoticia()" [formGroup]="register"> 
          <div class="example-container">
            <mat-form-field>
              <mat-label>Titulo:</mat-label>
              <input matInput #nombre type="text" placeholder="Escriba el titulo de la noticia" formControlName="encabezado" required pattern="[A-Za-z1-9]{5,50}">
              <mat-error *ngIf="register.get('encabezado').hasError('required')">El Titulo es <strong>requerido</strong></mat-error>
            </mat-form-field>
            <br>
            <angular-editor formControlName="cuerpo" [config]="editorConfig"></angular-editor>
            <small>
              <mat-error *ngIf="register.get('cuerpo').hasError('required')">El Contenido de la noticia es <strong>requerido</strong></mat-error>
            </small>
            <br>
            <div class="form-group" style="display: block; margin-bottom: 10px;">
              <label>Subir imagen:</label>
              <input type="file" (change)="onFileSelected($event)" class="form-control-file" accept="image/png, image/jpeg" placeholder="Seleccione una imagen">
            </div> 
                    
            <div class="button-row">
              <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="register.invalid || loading">Guardar</button>
              <button mat-raised-button color="warn" style="margin-left: 2px; margin-right: 2px; width: 48%;" (click)="openVerticallyCentered(content)">Cancelar</button>    
            </div>
          </div>     
        </form>
      </div>
    </div>
  </div>
  <!--Ventana emergente-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cancelar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Se eliminaran los cambios que haya realizado ¿Desea Continuar?&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" routerLink="/mantenimientoUsuarios" (click)="c('Close click')">Aceptar</button>
    </div>
  </ng-template>
</div>      