<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
  <label><h2><strong>GENERAR CONSOLIDADO DE EVALUACION DOCENTE</strong></h2></label>

<div class="input" style=" text-align: center; align-content: center;">
<button class="button" value="bold" (click) = "consultarPago()" >
	<div class="row">
		<div class="col-4">
			<br>
			<i class="fas fa-file-export fa-3x"></i>
		</div>
		<div class="col-8">
			Exportar <br> Consolidado <br> de Datos <br> Seccion A.
		</div>
	</div>	  
</button>
<button value="italic" class="button" (click) = "guardarPago()">
	<div class="row" style="vertical-align: middle;">
		<div class="col-4">
			<br>
			<i class="fas fa-file-export fa-3x"></i>
		</div>
		<div class="col-8">
			Exportar <br> Consolidado <br> de Datos <br> Seccion B.
		</div>
	</div>
</button>
</div>

</div>