<ul class="nav nav-pills flex-column" ngClick = "$event.preventDefault()">
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoUsuarios" routerLinkActive="active" ngClick = "active = 'mantenimientoUsuarios'"><i class="fa fa-users fa-lg"></i> Usuarios</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoRoles" routerLinkActive="active" ngClick = "active = 'mantenimientoRoles'"><i class="fa fa-sitemap fa-lg"></i> Roles</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoNoticias" routerLinkActive="active" ngClick = "active = 'mantenimientoNoticias'"><i class="fa fa-newspaper-o fa-lg"></i> Noticias</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/generarCodigo" routerLinkActive="active" ngClick = "active = 'generarCodigo'"><i class="fa fa-code fa-lg"></i> Generar Codigo</a>
  </li>
</ul>




