<ul class="nav nav-pills flex-column">
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" href="#" style="color: white;"><i class="fa fa-users fa-lg"></i>Mantenimiento Usuarios</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" href="#" style="color: white;"><i class="fa fa-sitemap fa-lg"></i>Mantenimiento Roles</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;;">
    <a class="nav-link" href="#" style="color: white;"><i class="fa fa-key fa-lg"></i>Mantenimiento Permisos</a>
  </li>
</ul>




