<ul class="nav nav-pills flex-column" ngClick = "$event.preventDefault()">
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoUsuarios" routerLinkActive="active" ngClick = "active = 'mantenimientoUsuarios'"><i class="fa fa-users fa-lg"></i> Usuarios</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoRoles" routerLinkActive="active" ngClick = "active = 'mantenimientoRoles'"><i class="fa fa-sitemap fa-lg"></i> Roles</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoNoticias" routerLinkActive="active" ngClick = "active = 'mantenimientoNoticias'"><i class="fa fa-newspaper-o fa-lg"></i> Noticias</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/generarCodigo" routerLinkActive="active" ngClick = "active = 'generarCodigo'"><i class="fa fa-code fa-lg"></i> Generar Codigo</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
      <a class="nav-link" style="color: white;" routerLink="/citas" routerLinkActive="active" ngClick = "active = 'citas'"><i class="fa fa-calendar fa-lg"></i> Manejo de Citas</a>
    </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoDocentes" routerLinkActive="active" ngClick = "active = 'mantenimientoDocentes'"><svg-icon src="../assets/teach.svg" [svgStyle]="{ 'width.px':18 }"></svg-icon> Docentes</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoProcedimientos" routerLinkActive="active" ngClick = "active = 'mantenimientoProcedimientos'"><i class="fa fa-paste fa-lg"></i> Procedimientos</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/mantenimientoPasos" routerLinkActive="active" ngClick = "active = 'mantenimientoPasos'"><i class="fa fa-list-ol fa-lg"></i> Asistente</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/aspirantes" routerLinkActive="active" ngClick = "active = 'aspirantes'"><svg-icon src="../assets/clipboard-check.svg" [svgStyle]="{ 'width.px':16 }"></svg-icon> Aspirantes </a>
  </li>
</ul>




