<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
<h1 class="text-center"><strong>INICIO DE SESION</strong></h1>
<form (submit)="onlogin()" [formGroup]="userLogin">
  <div class="form-group">
    <label for="username">Usuario:</label>
    <input class="form-control" placeholder="Ingresar Usuario" type="text" formControlName="username">
    <mat-error *ngIf="userLogin.get('username').hasError('requerid')">
      El usuario es <strong>requerido</strong>
    </mat-error>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" placeholder="Ingresar Contraseña" type="password" formControlName="password">
    <mat-error *ngIf="userLogin.get('password').hasError('requerid')">
      El usuario es <strong>requerido</strong>
    </mat-error>
  </div>
  <button type="submit" class="btn btn-info btn-lg" [disabled]="userLogin.invalid || loading">INGRESAR</button>
</form>
