<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"> <strong>FORMULARIO DE REGISTRO</strong></h1>
        <form (submit)="registrarHorario()" [formGroup]="register"> 
          
          <div class="example-container">
            <mat-form-field>
            <!--codigo-->
              <mat-label>Codigo</mat-label>
              <input matInput type="text" placeholder="Escriba el codigo del horario" formControlName="codigo" required >
              <mat-error *ngIf="register.get('codigo').hasError('required')">El codigo del aula es <strong>requerido</strong></mat-error>
            </mat-form-field>
           <!--hora de inicio-->
           <div class="form-group">
            <mat-label>Seleccione la hora de inicio</mat-label>
            <ngb-timepicker formControlName="horaInicio" [spinners]="spinners"></ngb-timepicker>
          </div>
          <!--hora de fin-->
          <div class="form-group">
            <mat-label>Seleccione la hora de fin</mat-label>
            <ngb-timepicker formControlName="horaFIn" [spinners]="spinners"></ngb-timepicker>
          </div>
            <div class="button-row">
              <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="register.invalid || loading">Guardar</button>
              <button mat-raised-button color="warn" style="margin-left: 2px; margin-right: 2px; width: 48%;" (click)="openVerticallyCentered(content)">Cancelar</button>    
            </div>
          </div>     
        </form>
      </div>
    </div>
  </div>
  <!--Ventana emergente-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cancelar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Se eliminaran los cambios que haya realizado ¿Desea Continuar?&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" routerLink="/mantenimientoHorarios" (click)="c('Close click')">Aceptar</button>
    </div>
  </ng-template>
</div>      
