<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
    <label><h2><strong>PANEL PARA LA GESTIÓN DE LA INSCRIPCIÓN PROVISIONAL</strong></h2></label>

  <div class="input" style=" text-align: center; align-content: center;">
  <button class="button" value="bold" (click) = "crearInscripcion()" ><i class="fa fa-calendar fa-lg"></i>  Crear evento de <br> Inscripción provisional</button>
  <button value="italic" class="button" (click) = "comprobantesInscrip()"><i class="fa fa-file-text-o"></i> Comprobantes de <br> inscripcion provisional </button>
  </div>

  <div class="input" style=" text-align: center; align-content: center;">
  <button class="button" value="bold" (click) = "reaperturarInscrip()"><i class="fa fa-check-square-o"></i> Reapertura de <br>  inscripcion provisional </button>
  <button value="italic" class="button" (click) = "datosEstudiantes()" > <i class="fa fa-male"> </i> Exportar datos <br> del estudiante inscrito</button>
  </div>

</div>
