<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
	<label><h2><strong>MANTENIMIENTO DE MATERIAS</strong></h2></label>	
	
	<div class="example-header">
		<div class="left">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
			</mat-form-field>
		</div>
		<div class="rigth">
			<button mat-fab class="col" (click) = "newMaterias()" matTooltip="Crear una nueva materia">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</div>
	<br><br>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="dataSource" matSort>
			<!-- Number Column -->
			<ng-container matColumnDef="No">
				<mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
				<mat-cell *matCellDef="let materias; let i = index"> {{i+1}} </mat-cell>
			</ng-container>
			<!-- Nombre Column -->
			<ng-container matColumnDef="codigo">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
				<mat-cell *matCellDef="let materias"> {{materias.codigo}} </mat-cell>
			</ng-container>
			<!-- Apellidos Column -->
			<ng-container matColumnDef="programa al que pertenece">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Programa al que pertenece </mat-header-cell>
				<mat-cell *matCellDef="let materias"> {{ materias.programa}} </mat-cell>
      </ng-container>
      <!-- Apellidos Column -->
			<ng-container matColumnDef="nombre">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
				<mat-cell *matCellDef="let materias"> {{materias.nombre}} </mat-cell>
      </ng-container>
      <!-- Apellidos Column -->
			<ng-container matColumnDef="prerrequisito">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Prerrequisito </mat-header-cell>
				<mat-cell *matCellDef="let materias"> {{ materias.prerequisito }} </mat-cell>
      </ng-container>
      <!-- Apellidos Column -->
			<ng-container matColumnDef="unidades valorativa">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Unidades valorativas </mat-header-cell>
				<mat-cell *matCellDef="let materias"> {{materias.unidadValorativa}} </mat-cell>
      </ng-container>
      <!-- Apellidos Column -->
			<ng-container matColumnDef="ciclo">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Ciclo al que pertenece </mat-header-cell>
				<mat-cell *matCellDef="let materias"> {{materias.ciclo}} </mat-cell>
			</ng-container>
				<!-- Opciones Column -->
			<ng-container matColumnDef="acciones" style="text-align: center;">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
				<mat-cell *matCellDef="let materias">
					<button mat-icon-button color= "warn" (click)="onDelete(materias.id)"><mat-icon>delete_outline</mat-icon></button>
					<!--(click)="open('autofocus')"-->
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let materias; columns: displayedColumns;"></mat-row>
		</mat-table>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
	</div>
</div>

<!--Modal- Deshabilitar Aula
<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Eliminar Aula</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Esta seguro que desea eliminar el aula seleccionada? <span class="text-primary"></span> </strong></p>
    <p>
    <span class="text-danger"></span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="activar()" >Aceptar</button>
  </div>-->