<!--Alerta-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"> <strong>FORMULARIO DE REGISTRO</strong></h1>
        <form (submit)="registrarPregunta()" [formGroup]="register"> 
          <div class="example-container">
          <!--Categoria-->
            <mat-form-field>
              <mat-label>Categoria</mat-label>
              <mat-select placeholder="Seleccione la Sección" formControlName="id_categoria" required [(ngModel)]="myDropDown" (change)="onChangeofOptions($event)">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
                  {{categoria.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="register.get('id_categoria').hasError('required')">El paso del procedimiento es <strong>requerido</strong></mat-error>
            </mat-form-field>
          <!--Clasificacion-->
            <mat-form-field [hidden]="myDropDown !== 1">
              <mat-label>Clasificación</mat-label>
              <mat-select placeholder="Seleccione la clasificación" formControlName="id_clasificacion">
                <mat-option *ngFor="let clasificacion of clasificaciones" [value]="clasificacion.id_categoria">
                  {{clasificacion.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <!--Tipo-->
            <mat-form-field [hidden]="myDropDown !== 2">
              <mat-label>Tipo de Pregunta</mat-label>
              <mat-select placeholder="Seleccione el tipo de Pregunta" formControlName="id_tipo">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.id_tipo">
                  {{tipo.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <!--Titulo-->
            <mat-form-field>
              <mat-label>Titulo</mat-label>
              <input matInput type="text" placeholder="Escriba el titulo de la pregunta" formControlName="titulo" required pattern="[A-Za-z ]{1,700}">
              <mat-error *ngIf="register.get('titulo').hasError('required')">El titulo es <strong>requerido</strong></mat-error>
            </mat-form-field>         
            <div class="button-row">
              <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="register.invalid || loading">Guardar</button>
              <button mat-raised-button color="warn" style="margin-left: 2px; margin-right: 2px; width: 48%;" (click)="openVerticallyCentered(content)">Cancelar</button>    
            </div>
          </div>     
        </form>
      </div>
    </div>
  </div>
  <!--Ventana emergente-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cancelar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Se eliminaran los cambios que haya realizado ¿Desea Continuar?&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" routerLink="/mantenimientoPreguntas" (click)="c('Close click')">Aceptar</button>
    </div>
  </ng-template>
</div>      

