.example-container {
    width: 100%;
    height: 100%;
}
  
.example-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
  .example-sidenav {
    /*padding: 20px;*/
  }
 
mat-toolbar{
	background-color: #35478C;
	color: white;
}

.container{
    text-align:end;
    display: block;
}
.left{
    float: left;
    text-align:left;
}   
.right{
    float: right;
    text-align:right;
}
mat-drawer-container{
    background-color: transparent;
}