<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
	<div>
		<mat-toolbar style="background-color: transparent;">
		  <mat-toolbar-row>
		    <span class="example-spacer"></span>
		    <mat-chip-list>
			  <mat-chip routerLink="/mantenimientoPreguntas">Gestión de Preguntas del Instrumento de Evaluación</mat-chip>
			  <mat-chip routerLink="/generarConsolidado">Generar Consolidado de datos del Instrumento de Evaluación</mat-chip>
			</mat-chip-list>
		    <span class="example-spacer"></span>
		  </mat-toolbar-row>
		</mat-toolbar>
	</div>
  	<label><h2><strong>MANTENIMIENTO DEL INSTRUMENTO DE EVALUACIÓN DOCENTE</strong></h2></label>
	<div class="example-header">
		<div class="left">
			<mat-form-field class="filter" floatLabel="never">
				<input matInput placeholder="Buscar por evaluación" (keyup)="applyFilter($event.target.value)">
			</mat-form-field>
		</div>
		<div class="rigth">
			<button mat-fab class="col" (click) = "newEvaluacion()" matTooltip="Crear un nuevo Evento de Evaluación Docente">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</div>  
	<br><br>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="dataSource">
			
			<!-- Number Column -->
			<ng-container matColumnDef="number">
        		<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        		<mat-cell *matCellDef= "let evaluacion; let i = index"> {{i+1}} </mat-cell>
			</ng-container>

			<!-- Name Column -->
			<ng-container matColumnDef="titulo">
		        <mat-header-cell *matHeaderCellDef> Evaluación</mat-header-cell>
		        <mat-cell *matCellDef="let evaluacion"> {{evaluacion.titulo}} </mat-cell>
			</ng-container>
		
			<!-- Fecha de Inicio Column -->
		    <ng-container matColumnDef="fecha_inicio">
		        <mat-header-cell *matHeaderCellDef>Fecha de Inicio</mat-header-cell>
		        <mat-cell *matCellDef="let evaluacion">{{evaluacion.fecha_inicio | date: 'dd/MM/yyyy'}}</mat-cell>
		    </ng-container>
		    
		    <!-- Hora de Inicio Column -->
		    <ng-container matColumnDef="hora_inicio">
		        <mat-header-cell *matHeaderCellDef>Hora de Inicio</mat-header-cell>
		        <mat-cell *matCellDef="let evaluacion">{{evaluacion.hora_inicio}}</mat-cell>
		    </ng-container>

		    <!-- Fecha de Finalizacion Column -->
			<ng-container matColumnDef="fecha_fin">
		        <mat-header-cell *matHeaderCellDef>Fecha de Finalización</mat-header-cell>
		        <mat-cell *matCellDef="let evaluacion">
			        {{evaluacion.fecha_fin | date: 'dd/MM/yyyy'}}
				</mat-cell>
		    </ng-container>

		    <!-- Hora de Finalizacion Column -->
		    <ng-container matColumnDef="hora_fin">
		        <mat-header-cell *matHeaderCellDef>Hora de Finalizacion</mat-header-cell>
		        <mat-cell *matCellDef="let evaluacion">{{evaluacion.hora_fin}}</mat-cell>
		    </ng-container>

		    <!-- Ciclo Column -->
		    <ng-container matColumnDef="id_ciclo">
		        <mat-header-cell *matHeaderCellDef>Ciclo</mat-header-cell>
		        <mat-cell *matCellDef="let evaluacion">{{evaluacion.id_ciclo}}-{{evaluacion.anio_ciclo}}</mat-cell>
		    </ng-container>

		    <!-- Opciones Column -->
			<ng-container matColumnDef="opcion" style="text-align: center;">
				<mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
				<mat-cell *matCellDef="let evaluacion">
					<button mat-icon-button (click)="openDialog(content)" (click)="detEvaluacion(evaluacion.id_encuesta)" matTooltip="Ver Detalles">
						<i class="view fa fa-eye fa-lg example-icon"></i>    
					</button>
					<!--button mat-icon-button (click)="editEvaluacion(evaluacion)" matTooltip="Editar">
					<i class="edit fa fa-edit fa-lg" style="cursor: pointer;"></i>
			        </button-->
					<button mat-icon-button (click)="unableEvaluacion(evaluacion)" matTooltip="Eliminar">
			          <i class="delete fa fa-trash-o fa-lg" style="cursor: pointer;"></i>
			        </button>
				</mat-cell>
			</ng-container>
		
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let evaluacion; columns: displayedColumns;">
			</mat-row>
		</mat-table>
		
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
	</div>
</div>

<!--Ventana emergente-->
<ng-template #content let-c="close" let-d="dismiss">
  	<div class="modal-header">
    	<h4 class="modal-title"><strong>Detalle Evaluacion Docente</strong></h4>
    	<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      		<span aria-hidden="true">&times;</span>
    	</button>
  	</div>
  	<div class="modal-body" style="align-items: center;">
    	<div class="example-container" *ngIf="evaluacion">
       		<mat-form-field>
        		<label>Titulo:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.titulo}}" required >
      		</mat-form-field>

      		<mat-form-field>
        		<label>Objetivo:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.objetivo}}" required >
      		</mat-form-field> 
           
	        <mat-form-field>
        		<label>Instrucciones:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.instrucciones}}" required >
      		</mat-form-field> 

            <mat-form-field>
        		<label>Ciclo:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.id_ciclo}}-{{evaluacion.anio_ciclo}}" required >
      		</mat-form-field>

      		<mat-form-field>
        		<label>Fecha de Inicio:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.fecha_inicio}}" required >
      		</mat-form-field>

      		<mat-form-field>
        		<label>Hora de Inicio:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.hora_inicio}}" required >
      		</mat-form-field> 
           
	        <mat-form-field>
        		<label>Fecha de Finalizacion:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.fecha_fin}}" required >
      		</mat-form-field> 

            <mat-form-field>
        		<label>Hora de Finalizacion:</label>
        		<input matInput type="text" disabled value= "{{evaluacion.hora_fin}}" required >
      		</mat-form-field>         
    	</div>     
  	</div>
  	<div class="modal-footer">
    	<button type="button" class="btn btn-light" (click)="c('Close click')">Regresar</button>
  	</div>
</ng-template>
