
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
        <h1>Bienvenido al generador de códigos para el ingreso al sitio web de estudiantes </h1>
         
   
   <!-- <div class="form-group">
        <input formControlName="cantidad" class="form-control" type="number" min="1" max="100" required>
       </div>-->

<button type="submit" class="btn btn-info btn-lg" (click)='generarcodigo()' > Generar codigo</button>

<br>
<br>
<div class="mt-5" id="content" >
<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col">Correlativo</th>
        <th scope="col">Código</th>
        <th scope="col">Vigencia</th>
      </tr>
    </thead>
<thead>
<tr class="table-light" *ngFor='let codigoAspirante of codigosAspirante' ng-repeat="codigoAspirante in codigosAspirante | orderBy: 'codigosAspirante.id' :reverse" >
<td>{{codigoAspirante.id}}</td>
<td>{{codigoAspirante.cod_validacion}}</td>
<td>{{vigencia}}</td>
</tr>
</thead>
<tbody>

 
</tbody>
</table>
</div>
<button type="submit" class="btn btn-info btn-lg" (click)="downloadPDF()"> Imprimir codigo</button>
</div>
</div>
</div>