<!--Alerta-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<!--
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
      -->
      <div class="input" style="padding: 2rem; text-align: center; align-content: center;">
        <h1 class="text-center"> <strong>GENERADOR DE CODIGOS PARA EL INGRESO AL SITIO WEB DE ESTUDIANTES</strong></h1>
        <form (submit)="generarcodigo()" [formGroup]="datosCodigo"> 
          <div class="example-container">
              <mat-form-field>
                <mat-label>Cantidad de códigos a generar</mat-label>
                <input matInput type="number" placeholder="Ingrese un numero" formControlName="cantidad" required pattern="[0-9]">
                <mat-error *ngIf="datosCodigo.get('cantidad').hasError('required')">la cantidad es <strong>requerida</strong></mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Seleccione el tiempo de vigencia</mat-label>
                <input matInput type="date" placeholder="Ingrese la fecha de vigencia del codigo" formControlName="vigencia" required>
                <mat-error *ngIf="datosCodigo.get('vigencia').hasError('required')">La fecha de vigencia es <strong>requerida</strong></mat-error>
              </mat-form-field>
              <div class="button-row">
                <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="datosCodigo.invalid || loading">Generar codigo</button>   
              </div>
          </div>  
          </form>
          
          <!--
              <div id="customers" class="mt-5" id="content" #customers ></div>
              <table id="tabcustomers" class="table table-hover" #tabcustomers ></table>
-->
             <div class="example-container mat-elevation-z8" style="text-align: center;" id="customers" id="content" #customers>
                <mat-table [dataSource]="dataSource" matSort id="tabcustomers" #tabcustomers>
                  <!-- First_Name Column -->
               <!--    <ng-container matColumnDef="correlativo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Correlativo </mat-header-cell>
                    <mat-cell *matCellDef="let ca"> {{ca.id}}</mat-cell>
                  </ng-container> -->
                  
                  <!-- codigo Columna -->
                  <ng-container matColumnDef="codigo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
                    <mat-cell *matCellDef="let ca"> {{ca.codigo}} </mat-cell>
                  </ng-container>
            
                  <!-- Vigencia Columna -->
                  <ng-container matColumnDef="vigencia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Vigencia </mat-header-cell>
                    <mat-cell *matCellDef="let ca"> {{ca.vigencia}} </mat-cell>
                  </ng-container>                
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let ca; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
            </div>
            <div class="button-row">  
      <!--        <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="datosCodigo.invalid || loading" (click)="downloadPDFTable()"> Imprimir codigo</button> -->
            </div>
            
</div>
