<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
    <label><h2><strong>EXPORTAR DATOS DE ESTUDIANTES</strong></h2></label>	
    
    <div class="example-header">
         <div class="button-row"  >
           
       
        <mat-toolbar style="background-color: transparent;">
         <div div class="button-row" class="right"> 
          <mat-toolbar-row>
            <mat-form-field style="width: 600px; padding: 2rem; text-align: left; align-content: left;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
       </mat-form-field>
            <span class="example-spacer"></span>
            <mat-chip-list>
            <mat-chip color="warn">Regresar</mat-chip>
            <mat-chip class="btn-info">Generar Ficha</mat-chip>
          </mat-chip-list>
            <span class="example-spacer"></span>
          </mat-toolbar-row>
           </div>
        </mat-toolbar>
         </div>
        
         
    </div>

   <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>
        <!-- Number Column 
        <ng-container matColumnDef="Nombre del estudiante">
          <mat-header-cell *matHeaderCellDef mat-sort-header style=" text-align: center;"> Nombre del estudiante </mat-header-cell>
          <mat-cell *matCellDef="let ELEMENT1"  style=" text-align: center;"> {{ ELEMENT1.nombre }}</mat-cell> 
        </ng-container>-->
        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let Estudiante">  {{ Estudiante.nombre }} </mat-cell> 
        </ng-container>
        <!-- Apellidos Column 
        <ng-container matColumnDef="Apellido">
          <mat-header-cell *matHeaderCellDef mat-sort-header  style=" text-align: center; align-content: center;"> Apellido </mat-header-cell>
          <mat-cell *matCellDef="let ELEMENT1"  style=" text-align: center; align-content: center;">{{ ELEMENT1.apellido}}  </mat-cell> 
        </ng-container>-->
        <!-- Apellidos Column -->
        <ng-container matColumnDef="Programa de estudio">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Programa de estudio </mat-header-cell>
          <mat-cell *matCellDef="let Estudiante">{{ Estudiante.nombre_programa }}</mat-cell>  
        </ng-container>
        <ng-container matColumnDef="Codigo de programa">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo de programa </mat-header-cell>
            <mat-cell *matCellDef="let Estudiante">{{ Estudiante.codigo_programa }}</mat-cell>  
          </ng-container>
          <ng-container matColumnDef="Plan de estudio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Plan de estudio </mat-header-cell>
            <mat-cell *matCellDef="let Estudiante">{{ Estudiante.plan_estudio }}</mat-cell>  
          </ng-container>
          <!--
          <ng-container matColumnDef="Exportar Ficha">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Exportar Ficha </mat-header-cell>
              <mat-cell *matCellDef="let ELEMENT1">{{ ELEMENT1.exportado }}</mat-cell>  
            </ng-container>
            <ng-container matColumnDef="Exportar Ficha" style="text-align: center;">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Exportar Ficha </mat-header-cell>
                <mat-cell *matCellDef="let ELEMENT1">
                  <button mat-icon-button color="primary" [disabled]="ELEMENT1.exportado===true">
                    <i class="fa fa-check-square fa-lg"></i>
                  </button>
                </mat-cell>
              </ng-container>-->
          <!-- Opciones Column -->
        <ng-container matColumnDef="acciones" style="text-align: center;">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ver detalle </mat-header-cell>
          <mat-cell *matCellDef="let Estudiante">

            <button mat-icon-button (click)= "openDialog(content, Estudiante.id_estudiante)" matTooltip="Ver Detalles">
              <i class="view fa fa-eye fa-lg example-icon"></i>			        </button>
              
       <!--
              <button mat-icon-button (click)= "verDetalleEstudiante(Estudiante)" matTooltip="Ver Detalles">
                  <i class="view fa fa-eye fa-lg example-icon"></i>			        </button>
            -->
                  <!--(click)="open('autofocus')"             -->
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <!--Ventana emergente-->
<ng-template id="myModal" #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title"><strong>Detalle del Estudiante</strong></h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

          <mat-form-field>
            <label>Nombres</label>
            <input matInput type="text" disabled value= "{{ detalleEstudiante.nombre }}" required >
          </mat-form-field>   
          <mat-form-field>
            <label>Apellidos</label>
            <input matInput type="text" disabled value= "{{ detalleEstudiante.apellido }}" required >
          </mat-form-field> 
             
          <mat-form-field>
              <label>Genero</label>
              <input matInput type="text" disabled value= "{{ detalleEstudiante.genero }}" required >
            </mat-form-field>  
            <mat-form-field>
                <label>Fecha Nacimiento</label>
                <input matInput type="text" disabled value= "{{ detalleEstudiante.fechaNacimiento }}" required >
              </mat-form-field>  
              <mat-form-field>
                  <label>Dirección</label>
                  <input matInput type="text" disabled value= "{{ detalleEstudiante.direccion }}" required >
                </mat-form-field>          
          <mat-form-field>
            <label>DUI</label>
            <input matInput type="text" disabled value= "{{ detalleEstudiante.dui }}" required >
          </mat-form-field> 
              <mat-form-field>
                <label>Telefono Fijo</label>
                <input matInput type="text" disabled value= "{{ detalleEstudiante.telefonoFijo }}" required >
              </mat-form-field> 
              <mat-form-field>
                  <label>Telefono Movil</label>
                  <input matInput type="text" disabled value= "{{ detalleEstudiante.telefonoMovil }}" required >
                </mat-form-field> 
                <mat-form-field>
                    <label>Email</label>
                    <input matInput type="text" disabled value= "{{ detalleEstudiante.email }}" required >
                  </mat-form-field> 
                  <mat-form-field>
                      <label>Titulo pregrado</label>
                      <input matInput type="text" disabled value= "{{ detalleEstudiante.titulo_pre }}" required >
                    </mat-form-field> 
                    <mat-form-field>
                      <label>Universidad de procedencia</label>
                      <input matInput type="text" disabled value= "{{ detalleEstudiante.institucion }}" required >
                    </mat-form-field> 
                    <mat-form-field>
                        <label>Codigo del programa que estudia</label>
                        <input matInput type="text" disabled value= "{{ detalleEstudiante.codigo_programa }}" required >
                      </mat-form-field>     

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="c('Close click')">Regresar</button>
	</div>
	</ng-template>

 