<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
  <label><h2><strong>PANEL PARA LA GESTIÓN DE PAGOS</strong></h2></label>

<div class="input" style=" text-align: center; align-content: center;">
<button class="button" value="bold" (click) = "consultarPago()" ><i class="fa fa-money fa-2x"></i>  Consultar Pagos <br> de estudiantes</button>
<button value="italic" class="button" (click) = "guardarPago()"><i class="fa fa-floppy-o fa-2x"></i> Guardar datos sobre<br> pagos realizados</button>
</div>

<div class="input" style=" text-align: center; align-content: center;">
<button class="button" value="bold" (click) = "verificarPago()"><i class="fa fa-check-square-o fa-2x"></i> Verificar pagos con <br>solvencia financiera </button>
<button value="italic" class="button" (click) = "arrancelesCuotas()" > <i class="big-icon" class="fa fa-file-text-o fa-2x"> </i> Gestión de arranceles <br> y cuotas</button>
</div>

</div>