<!--Alerta-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"> <strong>FORMULARIO DE REGISTRO</strong></h1>
        <form (submit)="registrarUsuario()" [formGroup]="register"> 
          <div class="example-container">
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput type="text" placeholder="Escriba su nombre" formControlName="first_name" required pattern="[A-Za-z ]{1,50}">
                <mat-error *ngIf="register.get('first_name').hasError('required')">El nombre es <strong>requerido</strong></mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Escriba sus apellidos" formControlName="last_name" required pattern="[A-Za-z ]{1,50}">
                <mat-error *ngIf="register.get('last_name').hasError('required')">Los apellidos son <strong>requeridos</strong></mat-error>
              </mat-form-field>   
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Escriba su correo electronico" formControlName="email" required>
                <mat-error *ngIf="register.get('email').hasError('required')">El correo electronico es <strong>requerido</strong></mat-error>
                <mat-error *ngIf="register.get('email').hasError('email')">El correo electronico es <strong>incorrecto</strong></mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Escriba su nombre de usuario" formControlName="username" required>
                <mat-error *ngIf="register.get('username').hasError('required')">El nombre de Usuario es <strong>requerido</strong></mat-error>
                <mat-error *ngIf="register.get('username').hasError('minlength') || register.get('username').hasError('pattern')">El usuario debe tener al menos 5 carecteres incluye Mayusculas y Minusculas, Numeros y _</mat-error>
              </mat-form-field>  
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Escriba su contraseña de usuario" formControlName="password" required>
                <mat-error *ngIf="register.get('password').hasError('required')">La contraseña es <strong>requerida</strong></mat-error>
                <mat-error *ngIf="register.get('password').hasError('minlength')">La contraseña debe tener al menos <strong>8 caracteres</strong></mat-error>
              </mat-form-field> 
              <mat-form-field>
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput type="password" placeholder="Escriba de nuevo su contraseña de usuario" formControlName="password2" required>
                <mat-error *ngIf="register.get('password2').hasError('required')">La contraseña es <strong>requerida</strong></mat-error>
                <mat-error *ngIf="register.get('password2').hasError('minlength')">La contraseña debe tener al menos <strong>8 caracteres</strong></mat-error>
                <mat-error *ngIf="cpwd.hasError('invalid')"> contraseña invalida </mat-error>              
              </mat-form-field>      
            <div class="button-row">
              <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;" [disabled]="register.invalid || loading">Guardar</button>
              <button mat-raised-button color="warn" style="margin-left: 2px; margin-right: 2px; width: 48%;" (click)="openVerticallyCentered(content)">Cancelar</button>    
            </div>
          </div>     
        </form>
      </div>
    </div>
  </div>
  <!--Ventana emergente-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cancelar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Se eliminaran los cambios que haya realizado ¿Desea Continuar?&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" routerLink="/mantenimientoUsuarios" (click)="c('Close click')">Aceptar</button>
    </div>
  </ng-template>
</div>      

