<div class="input" style="padding: 2rem; text-align: center; align-content: center;">
  	<label><h2><strong>MANTENIMIENTO DE PASOS DE PROCEDIMIENTOS</strong></h2></label>
	<div class="example-header">
		<div class="left">
			<mat-form-field class="filter" floatLabel="never">
				<input matInput placeholder="Buscar por Procedimiento" (keyup)="applyFilter($event.target.value)">
			</mat-form-field>
		</div>
		<div class="rigth">
			<button mat-fab class="col" (click) = "newPaso()" matTooltip="Crear un nuevo Paso">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</div>  
	<br><br>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="dataSource">
			
			<!-- Number Column -->
			<ng-container matColumnDef="number">
        		<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        		<mat-cell *matCellDef= "let paso; let i = index"> {{i+1}} </mat-cell>
			</ng-container>

			<!-- Name Column -->
			<ng-container matColumnDef="nombre">
		        <mat-header-cell *matHeaderCellDef> Nombre del Paso</mat-header-cell>
		        <mat-cell *matCellDef="let paso"> {{paso.nombre}} </mat-cell>
			</ng-container>
		
			<!-- Description Column -->
			<ng-container matColumnDef="descripcion">
				<mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
				<mat-cell *matCellDef="let paso">{{paso.descripcion}}</mat-cell>
      		</ng-container>
      
		    <!-- Procedimiento Column -->
			<ng-container matColumnDef="procedimiento">
		        <mat-header-cell *matHeaderCellDef> Procedimiento al que Pertenece</mat-header-cell>
		        <mat-cell *matCellDef="let paso"> {{paso.id_proceimiento}} </mat-cell>
		    </ng-container>
		    
		    <!-- Orden Column -->
		    <ng-container matColumnDef="orden">
		        <mat-header-cell *matHeaderCellDef> Orden </mat-header-cell>
		        <mat-cell *matCellDef="let paso">{{paso.orden}}</mat-cell>
		    </ng-container>

			<!-- Opciones Column -->
			<!--ng-container matColumnDef="opcion" style="text-align: center;">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
				<mat-cell *matCellDef="let paso">
					<i class="edit fa fa-edit fa-lg">   </i>
					<i class="delete fa fa-trash-o fa-lg">   </i>
				</mat-cell>
			</ng-container-->
		
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let paso; columns: displayedColumns;">
			</mat-row>
		</mat-table>
		
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
	</div>
</div>
