<!--Alerta-->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"> <strong>FORMULARIO DE REGISTRO</strong></h1>
        <form (submit)="registrarDescuento()"  [formGroup]="register">  
          <div class="example-container">
            <mat-form-field>
              <mat-label>Nombre del descuento</mat-label>
              <input matInput type="text" placeholder="Escriba su nombre" formControlName="nombre" required>
          <mat-error *ngIf="register.get('nombre').hasError('required')">El nombre es <strong>requerido</strong></mat-error> 
            </mat-form-field>
            <mat-form-field>
              <mat-label>Descripcion del descuento</mat-label>
              <input matInput placeholder="Escriba sus apellidos" formControlName="descripcion" required>
          <mat-error *ngIf="register.get('descripcion').hasError('required')">La descripcion es <strong>requeridos</strong></mat-error> 
            </mat-form-field>
            <mat-form-field>
              <mat-label>Porcentaje del descuento</mat-label>
              <input matInput type="number" placeholder="Escriba el Porcentaje del descuento" formControlName="monto" required  step="0.01">
              <mat-error *ngIf="register.get('monto').hasError('required')">el Porcentaje del descuento es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="register.get('monto').hasError('min')"> el Porcentaje del descuento minimo es de 1.00</mat-error>
              <!-- <mat-error *ngIf="register.get('cum_minimo').hasError('required')"> El CUM minimo de aprobación es <strong>requerida</strong> </mat-error>
              <mat-error *ngIf="cum_minimo.errors?.max && cum_minimo.touched">
                el numero de cum minimo debe ser menor a 10.00
             </mat-error>
             <mat-error *ngIf="cum_minimo.errors?.min && cum_minimo.touched">
              la nota minima debe ser mayor a 6.00
           </mat-error> -->
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button type="submit" class="btn-info" style="color: white; margin-left: 2px; margin-right: 2px; width: 48%;"  [disabled]="register.invalid || loading">Guardar</button>
              <button mat-raised-button color="warn" style="margin-left: 2px; margin-right: 2px; width: 48%;" (click)="openVerticallyCentered(content)">Cancelar</button>    
            </div>
          </div>     
        </form>
      </div>
    </div>
  </div>
  <!--Ventana emergente-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title"><strong>Cancelar</strong></h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Se eliminaran los cambios que haya realizado ¿Desea Continuar?&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" routerLink="/mantenimientoDescuentos" (click)="c('Close click')">Aceptar</button>
    </div>
  </ng-template>
</div> 
